<div class="container">
  <h1>Greet People</h1>
  <br>
  <br>
  <div class="form">
    <form method="post">

<br>
<br>

  <input type="text" id="TextBox"name="name" placeholder="Type a name here..">

  <input type="submit" name="" value="Greet">
  <br>
  <br>
  <div id="languageSelect">
     <input id="English" name="language" type="radio" value="English">
     English

     <input id="TshiVenda" name="language" type="radio" value="TshiVenda">
   TshiVenda

     <input id="French" name="language" type="radio" value="French">
     French
 </div>
 <p id="output">
  <br>
  <br>

  {{msg}}
</form> 

<br>
<br>


</div>
<br>
<br>
<a href="/greeted" class="btn">Click here to see all greeted people</a>
</form>
</div>

{{language}}
  {{name}}
