<h1>Greet Users</h1>
<br>
<br>
<form class="" action="/users/greet" method="post">
  <input type="text" name="name" placeholder="Type a name here..">
  <!-- <input type="submit" name="Hello" value="Hello"> -->
  <input type="submit" name="" value="Greet">
  <br>
  <br>
  <div id="languageSelect">
     <input id="English" name="language" type="radio">
     English

     <input id="TshiVenda" name="language" type="radio">
   TshiVenda

     <input id="French" name="language" type="radio">
     French
 </div>
  <br>
  <br>

  {{msg}}
</form>
