body {
    background-color: khaki;

}
h1{
  font-size: 50px;
  text-align: center;
  font-style: italic;
}
.container{
    background-color: floralwhite;
    width : 80%;
    margin : auto;
    padding : 1em;
    font-family: "Arial";
    align:bottom;

}
input {
    text-align: center;
    font-size: 32px;
    background-color: lightblue;
    border-radius: 10px;


}
input[type=submit]{
  background-color: grey;


  }

button{
  background-color: grey;
  font-size: 32px;
  border-radius: 10px;
}
