<h1>Greet Users</h1>

<form class="" action="/users/greet" method="post">
  <input type="text" name="name" placeholder="Type a name here..">
  <!-- <input type="submit" name="Hello" value="Hello"> -->
  <input type="submit" name="" value="Greet">
  <br>
  <br>

  {{msg}}
</form>
